@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Dashboard", "ExpenseManager", new { area = ""})">
                <button type="submit">Logout</button>
            </form>
    }
    else
    {
        <div class="landing-page">
        <h1>Welcome in Expense Manager</h1>
        <p>If you have an account <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
        <p>Create an account <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
        </div>
    }