@model ExpenseManager.Application.Commands.EditUser.EditUserCommand
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" method="post">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>UserName</label>
                                                        <input class="form-control" type="text" asp-for="@Model.UserName">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input class="form-control" type="text" asp-for="@Model.Email">
                                                     </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>PhoneNumber</label>
                                                        <input class="form-control" type="text" asp-for="@Model.PhoneNumber">
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="px-2">
                                                                @if(Model.EmailConfirmed)
                                                                {
                                                                    <span class="text-success">Email Confirmed</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Email Is Not Confirmed</span>
                                                                }

                                                                @if (Model.PhoneNumberConfirmed)
                                                                {
                                                                    <span class="text-success">Phone Confirmed</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Phone Is Not Confirmed</span>
                                                                }

                                                                @if (Model.IsActive)
                                                                {
                                                                    <span class="text-success">Account Is Active</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Account Is Not Active</span>
                                                                }

                                                                @if (Model.LockoutEnabled)
                                                                {
                                                                    <span class="text-success">Account Has Lockout</span>
                                                                }   
                                                                else
                                                                {
                                                                    <span class="text-danger">Account Has Not Lockout</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>