@model ExpenseManager.Application.Commands.LoginUser.LoginUserCommand;

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="login-register-main-rectangle">
    <div class="login-register-form">
        <form method="post">
            <div class="login-register-form-data">
                <label>Email</label>
                <input title="Enter Email" asp-for="Email" />
            </div>
            <div>
                <label>Password</label>
                <input title="Enter Password" asp-for="Password" type="password" />
            </div>
        </form>
    </div>
</div>