@{
    ViewData["Title"] = "Landing Page";
}
<link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
<div class="logo">
    <img src="/Images/logo.png" alt="logo">
</div>
<div class="container">
    <div class="text-container">
        <h1 class="main_text">SMART AND EFFECTIVE SAVING WITH EXPENSE MENAGER</h1>
        <h4 class="sub_text">Start controlling your expenses today</h4>
        <button class="get_started ">Get Started</button>
        <p class="log_text ">OR IF YOU HAVE AN ACCOUNT <a class="log_in" href="#">LOG IN</a></p>
    </div>
    <div class="image">
        <img src="/Images/dashboard.png" alt="dashboard screen">
    </div>
</div>
