<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="container d-flex justify-content-center">
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="text-center text-primary">Welcome to Expense Manager</h1>
            <p class="text-center">If you have an account <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
            <p class="text-center">Create an account <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
        </div>
    </div>
</div>
