<div class="container mt-5">
    <div class="row justify-content-center">
        <section class="col-lg-8 col-md-10 col-sm-12">
            <div class="card p-4">
                <div class="card-body text-center">
                    <h1 class="text-primary mb-2">Welcome to Expense Manager</h1>
                    <p>If you have an account <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                    <p>Create an account <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
                </div>
            </div>
        </section>
    </div>
</div>