<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="landing-page-main-container">
        <div class="landing-page">
            <h1>Welcome in Expense Manager</h1>
            <p>If you have an account <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
            <p>Create an account <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
        </div>
</div>