@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;

}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@model ExpenseManager.Application.Commands.Login.LoginCommand
<div class="main-rectangle">
    <h1 class="title">Log in</h1>
    <form asp-controller="Authorization" asp-action="Login" method="post">
        <div class="input-box">
            <span class="details">E-mail</span>
            <input asp-for="Email" placeholder="Enter Email" required />
        </div>
        <div class="input-box">
            <span class="details">Password</span>
            <input asp-for="Password" type="password" placeholder="Enter Password" required />
        </div>
        <button class="confirm-saving-goal" type="submit">Login</button>
    </form>
</div>
