@model IEnumerable<ExpenseManager.Application.DTOS.AchievementDto>
<div class="container">
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-4">
                            <h5 class="card-title mb-0">@item.Name</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                @*<h2 class="d-flex align-items-center mb-0">
                                    @item.
                                </h2>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
