@model IEnumerable<ExpenseManager.Application.DTOS.CategoryDto>
@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="row text-white">
        <div class="col-md-12">
                    <h2 class="text-white text-center pb-3 mt-5">Actions</h2>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" style="margin-left:20vw"; id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
                        <div>
                            <div class="row p-4 no-gutters align-items-center">
                                <div class="col-sm-12 col-md-6" >
                                    <h3 class="font-light mb-0"><i class="mr-2"></i>Your Categories</h3>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <ul class="list-inline dl mb-0 float-left float-md-right">
                                        <li class="list-inline-item text-info">
                                            <a href="@Url.Action("CreateNewCategory", "ExpenseManager")">
                                                <button class="btn btn-circle btn-success text-white">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <span class="ml-2 font-normal text-white">Create New Category</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless no-wrap table-hover mb-0 font-14" style="max-width: 60vw;">
                                    <tbody>
                                        @foreach(var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <span class="mb-0 text-muted">@item.Name</span>
                                                </td>
                                                <td class="d-flex justify-content-end">
                                                    <form method="post" asp-controller="ExpenseManager" asp-action="DeleteCategory" asp-route-Id="@item.Id">
                                                        <button type="submit" class="btn btn-circle btn-danger text-white">
                                                        <i class="fa fa-trash"></i>
                                                        </button>                                     
                                            
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
</div>