<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<p class="actions-title">Actions</p>

<div class="main-rectangle-grid">
    <p class="active-actions">Active Actions</p>
    <p class="next-actions">Next Actions</p>
</div>