@model IEnumerable<ExpenseManager.Application.DTOS.TransferDto>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;

    var uniqueCategories = Model
        .Select(t => t.Category)
        .Distinct();
}
<a class="create-transfer" href="CreateTransfer.html">New Upcoming Action</a>

<div class="main-rectangle-grid-actions">
    @foreach (var categories in uniqueCategories)
    {
        <div class="categories-container">
            <h1>@categories</h1>
            <a href="#">edit</a>
            <a href="#">delete</a>
        </div>
    }
</div>
<a class="create-transfer" href="CreateTransfer.html">Create category</a>