@model ExpenseManager.Application.Commands.CreateTransfer.CreateTransferCommand

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script defer src="@Url.Content("~/js/site.js")"></script>

<div class="main-rectangle">
    <p class="title">Create New Transfer</p>
    <form method="post">
        <div>
            <input type="checkbox" id="switch" asp-for="Ingoing" /><label for="switch"></label>
            <p class="switch-text">Outgoing</p>
        </div>
        <div class="input-box">
            <span class="details">Value</span>
            <input type="text" placeholder="Enter Value" required asp-for="Value">
        </div>
        <div class="input-box">
            <span class="details">Category</span>
            <input type="text" placeholder="Enter Category" required asp-for="Category">
        </div>
        <div class="input-box">
            <span class="details">Details (optional)</span>
            <input type="text" placeholder="Enter Details" asp-for="Description">
        </div>
        <button class="create-button" type="submit">Create </button>
    </form>
</div>