@model ExpenseManager.MVC.Controllers.CreateViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script defer src="@Url.Content("~/js/site.js")"></script>

<div class="main-rectangle">
    <p class="title">Create New Transfer</p>
    <form method="post">
        <div>
            <input type="checkbox" id="switch" name="Ingoing" /><label for="switch"></label>
            <p class="switch-text">Outgoing</p>
        </div>
        <div class="input-box">
            <span class="details">Value</span>
            <input type="text" placeholder="Enter Value" required name="Value">
        </div>
        <div class="input-box">
            <span class="details">Details (optional)</span>
            <input type="text" placeholder="Enter Details" name="Description">
        </div>
        <div class="input-box">
            <span class="details">Category</span>
            <select class="category-input" name="Category">
                <option value="other">other</option>
                @foreach (var transfer in Model.TransferDto.Where(transfer => transfer.Category != "other"))
                {
                    <option value="@transfer.Category">@transfer.Category</option>
                }
            </select>
        </div>
        <button class="create-button" type="submit">Create </button>
    </form>
</div>