@model IEnumerable<ExpenseManager.Application.DTOS.TransferDto>

<div>
    @foreach (var item in Model)
    {
        <div>
            <h5>@item.Value</h5>
            <h6>@item.Category</h6>
            <p>@item.Description</p>
            <p>@item.CreatedAt</p>
        </div>
    }
</div>

