@model ExpenseManager.Application.DTOS.TransferDto
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div>
        <div>
            <h5>@Model.Value</h5>
            <h6>@Model.Category</h6>
            <p>@Model.Description</p>
            <p>@Model.CreatedAt</p>
        </div>
</div>

