<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="main-rectangle profile">
    <h1>Edit Profile</h1>
</div>

<div class="profile-information profile">
    <form>
        <label>Username</label>
        <input asp-for="@Model.Username" />
    </form>
</div>
<div class="profile-information profile">
    <form>
        <label>Username</label>
        <input asp-for="@Model.Name" />
    </form>
</div>
<div class="profile-information profile">
    <form>
        <label>Username</label>
        <input asp-for="@Model.FirstName" />
    </form>
</div>