@{
    var settingsDto = ViewData["SettingsDto"] as ExpenseManager.Application.DTOS.SettingDto;

}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="main-rectangle">
<h1 class="title">Log in</h1>
<form>
<div class="input-box">
    <span class="details">Username</span>
    <input type="text" placeholder="Enter Value" required name="Value">
</div>
<div class="input-box">
    <span class="details">Password</span>
    <input type="text" placeholder="Enter Value" required name="Value">
</div>
</form>
</div>