<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="main-rectangle profile">
    <h1>Your Profile</h1>
</div>

    <div class="profile-information profile">
        <h5>Username: </h5>
        <a>Change username</a>
       
    </div>
    <div class="profile-information profile">
        <h5>Mail: </h5>
        <a>Change mail</a>
    </div>