@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="main-rectangle profile">
    <h1>Your Profile</h1>
</div>

    <div class="profile-information profile">
        <h5>Username:</h5>
        <a href="#">Change username</a>
       
    </div>
    <div class="profile-information profile">
    <h5>Mail: @User.Identity.Name</h5>
        <a href="#">Change mail</a>
    </div>