@model ExpenseManager.MVC.Controllers.SettingViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <div class="main-rectangle">
        <h1 class="settings-title">Settings</h1>
        <form class="settings-form" method="post">
            <div class="form-select">
                <p>Language: @Model.SettingsDto.Language</p>
                <select class="form-select" name="Language">
                    @if (Model.SettingsDto.Language == "english")
                    {
                    <option value="" disabled selected>English</option>
                    <option value="deutsch">Deutsch</option>
                    <option value="polski">Polski</option>
                    }
                    else if(Model.SettingsDto.Language == "deutsch")
                    {
                    <option value="" disabled selected>Deutsch</option>
                    <option value="english">English</option>
                    <option value="polski">Polski</option>
                    }
                    else if (Model.SettingsDto.Language == "polski")
                    {
                    <option value="" disabled selected>Polski</option>
                    <option value="deutsch">English</option>
                    <option value="deutsch">Deutsch</option>
                    }
            </select>
                <p>Currency: @Model.SettingsDto.Currency</p>
                <select class="form-select" name="Currency">
                @if (Model.SettingsDto.Currency == "zł")
                    {
                        <option value="" disabled selected>zł</option>
                        <option value="$">$</option>
                        <option value="£">£</option>
                        <option value="€">€</option>
                    }
                else if (Model.SettingsDto.Currency == "$")
                    {
                        <option value="" disabled selected>$</option>
                        <option value="zł">zł</option>
                        <option value="£">£</option>
                        <option value="€">€</option>
                    }
                else if (Model.SettingsDto.Currency == "£")
                    {
                        <option value="" disabled selected>£</option>
                        <option value="$">$</option>
                        <option value="zł">zł</option>
                        <option value="€">€</option>
                    }
                else if (Model.SettingsDto.Currency == "€")
                    {
                        <option value="" disabled selected>€</option>
                        <option value="$">$</option>
                        <option value="zł">zł</option>
                        <option value="£">£</option>
                    }


                </select>
            </div>
            <button class="confirm-settings" type="submit">confirm</button>
        </form>
    </div>