* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: url('/Images/landing.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    text-align: center;
}

.text {
    margin-bottom: 50px;
}

.main_text {
    color: white;
    font-weight: lighter;
    font-size: 36px;
    opacity: 0.9;
    margin-bottom: 15px;
}

.sub_text {
    font-weight: 600;
    color: rgb(197, 197, 197);
    font-size: 24px;
    font-style: italic;
    margin-bottom: 40px;
}

.get_started {
    padding: 15px 40px;
    border-style: none;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.log_text {
    margin-top: 10px;
    color: #ffffff;
    margin-bottom: 100px;
}

.log_in {
    color: rgb(0, 47, 255);
}

.image img {
    max-width: 100%;
    height: auto;
}
